name: Smuggler2

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: ${{matrix.ghc }}-${{ matrix.os }}, ${{ matrix.cabal }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        ghc: [latest]
        cabal: [latest]
        os: [ubuntu-latest, macOS-latest, windows-latest]
        experimental: [false]
        include:
          - ghc: '8.6.5'
            cabal: latest
            os: ubuntu-latest
            experimental: true
          - ghc: '8.8.3'
            cabal: latest
            os: ubuntu-latest
            experimental: false

    steps:
      - uses: actions/checkout@v2
        if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'

      - uses: haskell/actions/setup@v1
        name: Setup Haskell
        id: setup-haskell-cabal
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - name: Versions
        run: |
          ghc --version
          cabal --version
          cabal update
          cabal gen-bounds

      - name: Configure
        run: |
          cabal clean
          cabal configure --enable-tests --disable-benchmarks --test-show-details=direct --write-ghc-environment-files=always

      - name: Freeze
        run: |
          cabal freeze

      - uses: actions/cache@v2.1.4
        name: Cache ~/.cabal/store
        with:
          path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}

      - name: Build
        run: |
          cabal build all

      - name: Test
        run: |
          cabal test --test-option=--delete-output=onpass
